body{
    background-color:  hsl(30, 38%, 92%);
    /* background-color:  hsl(158, 36%, 37%) */
}

.container{
    display: flex;
    flex-flow: row;
    justify-content: center ;
    margin-top: 150px;
}

.img{
    width: 190px;
    border-top-left-radius: 7px ;
    border-bottom-left-radius: 7px ;
}

.item{
    width: 180px;
    height: 294px;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 7px ;
    border-bottom-right-radius: 7px ;
    
}

p:not(.add){
    margin-left: 16px;
}

.per{
    font-weight: 30;
    margin-bottom: 10px;
    
}

.de{
    /* border: 1px solid black; */
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    font-weight: bold;
    font-size: 20px;
}

.br:not(.brs){
    font-size: 12px;
    padding-top: 3px;
    margin-top: 0;
    margin-bottom: 0;
}

.brs{
    font-size: 12px; 
    margin-bottom: 0;
}

.amount{
    color: hsl(158, 36%, 37%);
    font-weight: bolder;
    font-size: 23px;
    margin-top: 12px;
    margin-bottom: 110;
    display: inline-block;
    margin-right: 0;
    /* border: 1px solid black; */
}

.slashed{
    font-weight: 100;
    text-decoration: line-through;
    margin-top: 18px;
    margin-bottom: 0;
    float: right;
    clear: none;
    margin-right: 41px;
    font-size: xx-small;
}

.button{
    margin-left: 16px;
    /* margin-bottom: 16px;
    margin-top: 1200x; */
    background-color: hsl(158, 36%, 37%);
    position: relative;
    bottom: 6px;
    border: none;
    border-radius: 3px;
    /* padding: 8px; */
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.button:hover{
    background-color: hsl(158, 27%, 36%);
}


.add{
    padding-top: 5px;
    padding-left: 5px;
    margin: 0;
    font-size: xx-small;
    font-weight: bolder;
    color: hsl(0, 0%, 100%) ;
    float: right;
   
}

.cart{
    width: 20px;
    float: left;
  
}